
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #3a6ad6;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0); 
}

.wrapper {
    border-radius: 20px;
    overflow: hidden; 
}

#plugin_header {
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

#plugin_header img {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}

#plugin_header h1 {
    margin: 0;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);;
    width: 450px; 
    margin: 0 auto; 
    height: 230px; 
    overflow-y: auto; 
}

#res-circle {
}

ul {
    list-style: none;
    padding: 0;
    max-height: 220px;
    overflow-y: auto; 
}

li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: #fff;
}

a {
    text-decoration: none;
}
