/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #3a6ad6;
    border-radius: 20px; /* Rounded edges for the entire extension */
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0); 
}

.wrapper {
    border-radius: 20px; /* Rounded edges for the entire extension */
    overflow: hidden; /* Hide excess rectangular corners */
}
/* Header Styles */
#plugin_header {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; 
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Reduce margin */
}

#plugin_header img {
    width: 40px; /* Decrease image width */
    height: 40px; /* Decrease image height */
    margin-right: 10px;
}

#plugin_header h1 {
    margin: 0;
    font-family: 'Russo One', sans-serif;
    font-size: 24px; /* Decrease font size */
}

/* Container Styles */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);;
    width: 450px; /* Adjust width as needed */
    margin: 0 auto; /* Center the container horizontally */
    height: 230px; /* Adjust height as needed */
    overflow-y: auto; /* Add scroll if content exceeds height */
}

/* Result Circle Styling - Add your styles here */
#res-circle {
    /* Add your styles for the result circle */
}

/* List Styles */
ul {
    list-style: none;
    padding: 0;
    max-height: 220px; /* Limit the height of the list */
    overflow-y: auto; /* Add scroll if content exceeds height */
}

li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: #fff;
}

/* Link Styles */
a {
    text-decoration: none;
}
